.blog {
    margin-top: 70px;
    text-align: center;

    &__heading {
        width: 512px;
        margin: 0 auto;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 26px;
        margin-top: 56px;
    }
}

.blog-item {
    display: flex;
    flex-direction: column;

    padding: 21px 20px 28px;
    border-radius: 12px;
    background: #282c30;

    &:nth-child(2) .blog-item__process::after {
        background: #0cce84;
        width: 100px;
    }

    &:nth-child(2) .blog-item__arrow {
        filter: brightness(0) saturate(100%) invert(64%) sepia(65%)
            saturate(3256%) hue-rotate(114deg) brightness(100%) contrast(91%);
    }

    &:nth-child(3) .blog-item__process::after {
        background: #ef8f00;
        width: 40px;
    }

    &:nth-child(3) .blog-item__arrow {
        filter: brightness(0) saturate(100%) invert(51%) sepia(91%)
            saturate(1749%) hue-rotate(9deg) brightness(102%) contrast(105%);
    }

    &__img-wrap {
        position: relative;
        padding-top: 83%;
        overflow: hidden;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: scale 0.4s;

        &:hover {
            scale: 1.2;
        }
    }

    &__name-work {
        position: absolute;
        z-index: 1;
        bottom: 25px;
        left: 50%;
        translate: -50% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 139px;
        height: 36px;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(54.5px);
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 150%;
    }

    &__desc {
        width: 190px;
        margin: 52px auto 18px;
        color: #f9f9f9;
    }

    &__process {
        position: relative;
        width: 238px;
        height: 7px;
        margin: 0 auto;
        border-radius: 5px;
        background: #131517;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;

            width: 60px;
            height: 7px;
            border-radius: 5px;
            background: #ff7667;
        }
    }

    &__view-all {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 7px;
        margin-top: 24px;
        color: #858b93;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 150%;

        &:hover {
            text-decoration: underline;
        }
    }
}
