.daily-task {
    margin-top: 140px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    // background: #272633;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    &__heading {
        max-width: 368px;
        color: #f9f9f9;
        font-size: 4rem;
        font-weight: 600;

        &-custom {
            background: linear-gradient(
                90deg,
                #eb9204 -33.14%,
                #83e868 116.38%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__desc {
        max-width: 537px;
        margin: 22px 0 86px;
        color: #858b93;
        font-size: 1.6rem;
        line-height: 162.5%;
    }

    &__list {
        position: relative;
    }

    &__dots {
        position: absolute;
        top: 0;
        left: 203px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;

        &--active {
            background: #ef8f00;
        }
    }

    &__items {
        display: flex;
        gap: 17px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 132px;
        height: 127px;
        padding-top: 21px;
        border-radius: 9px;
        background: #272633;

        &--active {
            margin-top: 34px;
            background: linear-gradient(
                192deg,
                #c4f566 -43.72%,
                #ae8ef9 -5.87%,
                #ef8f00 52.36%,
                #61e559 122.78%
            );

            .daily-task__text {
                color: #fff;
            }
        }
    }

    &__number {
        color: #f9f9f9;
        font-size: 3rem;
        font-weight: 600;
    }

    &__text {
        color: #858b93;
        font-size: 1.6rem;
        line-height: 162.5%;
    }

    &__body {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 525px;
        background: url(../imgs/daily-task/body-bg.png);
        background-repeat: no-repeat;
        background-size: 560.677px 525px;
    }

    &__circle {
        width: 209px;
        height: 209px;
        border-radius: 50%;
        background: #6aea5c;
        border: 40px solid #3e7f39;

        &-border {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 336px;
            height: 336px;
            border-radius: 50%;
            border: 2px dashed #2f2f2f;
            outline: 2px dashed #2f2f2f;
            outline-offset: 70px;
        }
    }

    &__task {
        --width: 225px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 19px;
        width: var(--width);
        height: 61px;
        border-radius: 5px;
        background: #27292c;

        &:nth-of-type(2) {
            left: 10px;
            top: 60px;
        }

        &:nth-of-type(3) {
            --width: 199px;
            right: 0;
            top: 50px;

            .daily-task__name {
                background: linear-gradient(
                    90deg,
                    #0cce84 3.45%,
                    #ae8ef9 99.07%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &:nth-of-type(4) {
            left: -40px;
            bottom: 154px;

            .daily-task__name {
                background: linear-gradient(
                    93deg,
                    #c4f566 -11.2%,
                    #ff6e6e 123.12%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &:nth-of-type(5) {
            --width: 199px;
            right: 0;
            bottom: 80px;

            .daily-task__name {
                background: linear-gradient(
                    93deg,
                    #c4f566 -11.2%,
                    #ff6e6e 123.12%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__name {
        font-size: 1.4rem;
        font-weight: 600;
        background: linear-gradient(90deg, #ef8f00 -6.27%, #ff7667 90.08%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    &__img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;

        &:nth-of-type(2) {
            margin-left: -12px;
        }

        &-wrap {
            display: flex;
            align-items: center;
        }
    }
}
