.testmonial {
    margin: 140px auto 0;
    width: 1219px;
    overflow: hidden;

    &__inner {
        display: flex;
        margin-left: -417px;
    }

    &__item {
        width: 385px;
        flex-shrink: 0;
        padding: 29px 40px 26px;
        border-radius: 10px;
        border: 1px solid #282c30;
        background: #131517;
        transition: background 0.2s;
        margin-left: 32px;

        &:hover {
            background: #282c30;
        }

        &:hover .testmonial__comma {
            filter: brightness(0) saturate(100%) invert(72%) sepia(97%)
                saturate(2718%) hue-rotate(107deg) brightness(93%) contrast(91%);
            rotate: 180deg;
        }

        &:first-child {
            margin-left: 0;
        }
    }
    &__comma {
        translate: 215px 0;
        transition: rotate 0.2s;
    }

    &__text {
        margin: 26px 0 22px;
        width: 304px;
        color: #858b93;
        font-size: 16px;
        line-height: 162.5%;
    }

    &__bottom {
        display: flex;
        gap: 20px;
    }

    &__avatar {
        width: 38px;
        height: 38px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &-body {
            display: flex;
            align-items: center;
            flex: 1;
        }
    }

    &__name {
        color: #f9f9f9;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 155.556%;
    }

    &__job {
        color: #858b93;
        font-size: 1.6rem;
        line-height: 150%;
    }

    &__stars {
        margin-left: auto;
    }

    &__control {
        display: flex;
        justify-content: flex-end;
        margin: 50px 16px 0 0;

        &-item {
            padding: 5px 15px;
            cursor: pointer;

            &:first-child img {
                rotate: 180deg;
            }

            &:hover img {
                filter: brightness(0) saturate(100%) invert(44%) sepia(92%)
                    saturate(1416%) hue-rotate(15deg) brightness(110%)
                    contrast(102%);
            }

            &:active {
                background-color: red;
            }
        }

        img {
            width: 13px;
            filter: brightness(0) saturate(100%) invert(61%) sepia(2%)
                saturate(1468%) hue-rotate(175deg) brightness(90%) contrast(93%);
        }
    }
}
